/* lours - A black (#3C3744), green (#20891A) and a white (#F7F0F0). */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  /* background-image: linear-gradient(120deg, #F7F0F0 0%, #20891A 100%); */
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.App{
  width: 390px;
}

/* header {
  font-size: 2rem;
}

header, */
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  background: #7D84B2;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  color: #7D84B2;
  background: #f7fffe;
  
}

#overall-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 77px;
  /* max-width: 390px; */
  background-color: #20891A;
}

#companyinfo{
  display: flex;
}

.todosection{
  text-align: center;
  height: 50vh;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.todo-list {
  min-width: 30%;
  list-style: none;
  
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

/* NAVBAR */
#nav-bar{
  margin-top: 2em;
  margin-right: 5vw;
  text-align: right;
  height: 10vh;
  font-size: 120%;
}

.nav-links{
  color: var(--secondary-color);
  text-decoration: none;
  padding: 2em;
}

.nav-links:hover{
  color: var(--logo-green);
  text-decoration: underline;
}


.trash-btn,
.complete-btn {
  background: #FFBF00;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #19297C;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.lucky{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.luckybutton{
  background: #FFBF00;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #7D84B2;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #7D84B2;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
